# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a CI/CD tool or PyInstaller itself.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml
*.cover
*.py,cover
*.hypothesis/
.hypothesis/
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# SageMath
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder IDE
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Flask stuff
instance/
.webassets-cache/

# Scrapy
.scrapy/

# Sphinx documentation
docs/_build/
doc/_build/

# Jupyter Notebook config
.jupyter/

# Virtualenv
bin/
include/
lib/
pyvenv.cfg

# VS Code
.vscode/

# JetBrains IDEs (PyCharm)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
